{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="container">
		<h3 class="text text-justify">
			Global Statistics
		</h3>
	</div>
	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col col-md alert alert-info">
					<center>Confirmed </center>
					<h4 class="text text-justify">
					<center>{{ data.confirmed }}</center>
					</h4>
				</div>
				<div class="col col-md alert alert-success">
					<center>Recovered </center>
					<h4 class="text text-justify">
					<center>{{ data.recovered }}</center>
					</h4>
				</div>
				<div class="col col-md alert alert-warning">
					<center>Active </center>
					<h4 class="text text-justify">
					<center>{{ data.active }}</center>
					</h4>
				</div>
				<div class="col col-md alert alert-danger">
					<center>Deaths </center>
					<h4 class="text text-justify">
					<center>{{ data.deaths }}</center>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
	<div align="center">
		<form action="/" method="post">
			{% csrf_token %}
			<div style="width: 18rem;">
					<big class="text text-justify">Select country:</big>
				
				<div class="form-group">
					<select oninput="getcountry()" class="form-control" id="sel1">
						{% if title %}
						<option> {{ title }}</option>
						{% endif %}
					   {% for country in data.countries %}
					    	<option>{{ country }}</option>
					   {% endfor %}
					 </select>
				</div>
				<h2 class="text text-info">Or</h2>
				<big class="text text-justify"> Enter country name: </big>
				<div class="form-group">
					{% if title %}
					<input id="name" type="text" class="form-control" name="country" placeholder="ex:india" value="{{ title }}">
					{% else %}
					<input id="name" type="text" class="form-control" name="country" placeholder="ex:india" value="US">
					{% endif %}
				</div>

				<div class="form-group">
					<input type="submit" class="btn btn-outline-info" name="submit" value="submit">
				</div>
			</div>
		</form>
	</div>

{% if country_data %}
<div class="container">
	<div class="container">
		<h3 class="text text-justify">
			{{ country_data.country }} Statistics
		</h3>
	</div>
	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col col-md alert alert-info">
					<center>Confirmed </center>
					<h4 class="text text-justify">
					<center>{{ country_data.confirmed }}</center>
					</h4>
				</div>
				<div class="col col-md alert alert-success">
					<center>Recovered </center>
					<h4 class="text text-justify">
					<center>{{ country_data.recovered }}</center>
					</h4>
				</div>
				<div class="col col-md alert alert-warning">
					<center>Active </center>
					<h4 class="text text-justify">
					<center>{{ country_data.active }}</center>
					</h4>
				</div>
				<div class="col col-md alert alert-danger">
					<center>Deaths </center>
					<h4 class="text text-justify">
					<center>{{ country_data.deaths }}</center>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
{% elif error %}
	<div class="container">
		<div class="container">
			<h3 class="text text-danger text-justify">
					{{ error }}
			</h3>
		</div>
	</div>
{% endif %}
	{% load static %}
	<div class="container">
		<div align="center">
			<img class="img-fluid" src="https://raw.githubusercontent.com/NaNdalal-dev/Covid/c31355c60cba4ab284c56f4bd3781bce9f468d90/Covid/static/imgs/covidsafe.jpeg">
		</div>
	
		{% for step in steps %}
				<div class="card card-body text-justify alert alert-secondary">
					<p class="text-dark">{{ step }}</p>
				</div>
		{% endfor %}	
	</div>
<hr>
<div class="container">
	<div align="center">
		<h3 class="text-justify text-center"><b>Share</b></h3>
		<a href="http://twitter.com/share?text=Get Covid data globally&url={{path}}" class="btn btn-link">
			<h3><span class="fa fa-twitter"></span></h3>
		</a>
		<a href="mailto:?subject=Get Covid data globally&body={{path}}" class="btn btn-link">
			<h3><span class="fa fa-envelope"></span></h3>
		</a>
		<a href="https://api.whatsapp.com/send?phone=&text=Get Covid data globally | {{path}}" class="btn btn-link">
			<h3><span class="fa fa-whatsapp"></span></h3>
		</a>
	</div>
</div>
<hr>
<div class="container">
	<div align="center">
		<h4 class="text-justify text-center"><b>Social Media and Contacts</b></h4>
		<a href="https://twitter.com/Nandalal7896" class="btn btn-link">
			<h3><span class="fa fa-twitter"></span></h3>
		</a>
		<a href="https://www.instagram.com/coding_vs_programming/" class="btn btn-link">
			<h3><span class="fa fa-instagram"></span></h3>
		</a>

		<a href=" https://github.com/NaNdalal-dev" class="btn btn-link">
			<h3><span class="fa fa-github"></span></h3>
		</a>
		<a href="https://www.youtube.com/channel/UCa7WJu7_ztmDhA0YeBQzrpg" class="btn btn-link">
			<h3><span class="fa fa-youtube"></span></h3>
		</a>
		<a href=" https://www.linkedin.com/in/nandalala-dintakurthi-6327ba195/" class="btn btn-link">
			<h3><span class="fa fa-linkedin"></span></h3>
		</a>
		<a href="mailto:nd90981@gmail.com" class="btn btn-link">
			<h3><span class="fa fa-envelope"></span></h3>
		</a>
	</div>
</div>
{% endblock %}